@inherits LayoutComponentBase

<RadzenComponents />

<RadzenLayout>

    <RadzenHeader Style="height: auto; padding: 0; display: flex; align-items: center; justify-content: space-between; background-color: #333; color: white;">
        <!-- Contenido del Header -->
        <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="0" Style="flex: 1;">
            <RadzenSidebarToggle Click="@(() => sidebarExpanded = !sidebarExpanded)" />
            <RadzenLabel Text="Header" />
        </RadzenStack>

        <!-- Botón de Cambiar Apariencia -->
        <RadzenAppearanceToggle Style="margin-right: 1rem;" />
    </RadzenHeader>

    <RadzenSidebar Responsive="false" Style="width: max-content">
        <RadzenPanelMenu DisplayStyle="@(sidebarExpanded ? MenuItemDisplayStyle.IconAndText : MenuItemDisplayStyle.Icon)" ShowArrow="false">
            <RadzenPanelMenuItem Text="Inicio" Icon="home" Path="/"/>
            <RadzenPanelMenuItem Text="Clientes" Icon="groups" Path="/clientes" />
            <RadzenPanelMenuItem Text="Medicamentos" Icon="medication" Path="/medicamentos" />
            <RadzenPanelMenuItem Text="Clientes Medicamentos" Icon="clinical_notes" Path="/clientesmedicamentos" />
        </RadzenPanelMenu>
    </RadzenSidebar>

    <RadzenBody>
        <div class="rz-p-4">
            @Body
        </div>
    </RadzenBody>

    <RadzenFooter>
        <div class="row text-center justify-content-center">
            <h6>Sistema Control de Farmacia</h6>
        </div>
    </RadzenFooter>

</RadzenLayout>

@code {
    bool sidebarExpanded = true;
}
